/* skins.css */

.skins-list {
    margin-top: 10px;
}

.weapon-image {
    max-width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin-top: 10px;
    border-radius: 5px;
}

/* Style the scrollbar for the List */
.weapon-list-container::-webkit-scrollbar {
    width: 8px;
}

.weapon-list-container::-webkit-scrollbar-thumb {
    background: #fd4556;
    border-radius: 5px;
}

.weapon-list-container::-webkit-scrollbar-thumb:hover {
    background: #ff6b77;
}

.weapon-list-container::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 5px;
}

/* Skin button styling */
.skin-button {
    width: 100%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.skin-button:hover {
    background-color: #ffffff;
    color: #111823;
    border-color: #fd4556;
}

.skin-button.selected {
    background-color: #fd4556;
    color: white;
    font-weight: bold;
    border-color: #fd4556;
}