/* SkinListFilter.css */

.skin-list-filter {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.skin-list-filter label {
    font-weight: bold;
    margin-right: 10px;
}

.skin-list-filter select {
    padding: 5px 10px;
    border: 2px solid #fd4556;
    border-radius: 5px;
    font-size: 14px;
}

.skin-list-filter select:focus {
    border-color: #ff6b77;
    box-shadow: 0 0 15px rgba(253, 69, 86, 0.7);
    animation: glow 1.5s infinite alternate;
}