.vp-input-container {
    text-align: center;
    margin: 20px 0;
}

.vp-input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: 2px solid #fd4556;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.vp-input::placeholder {
    color: #aaa;
    font-style: italic;
}

.vp-input:focus {
    border-color: #ff6b77;
    box-shadow: 0 0 5px rgba(253, 69, 86, 0.5);
}