.weapon-filter {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.filter-select {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #fd4556;
    border-radius: 5px;
    cursor: pointer;
}

.filter-select:focus {
    outline: none;
    border-color: #ff6b77;
}